body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.useref {
  height: 100vh;
  background-color: bisque;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 20px;
}

input {
  padding: 5px;
}

button {
  padding: 5px;
  margin: 20px;
  background-color:blueviolet;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  margin: 2rem auto;
}
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.useritem {
  width: 15%;
  margin: 1rem;
}

#add-button {
  position: absolute;
  bottom: 10rem;
}