.navbar-nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: antiquewhite;


}

.navbar-right {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin-left : 10px;
    margin-right: 50px;


}
.navbar-left {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-left : 10px;



}
.navbar-link {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin : -20px 15px;
    color: rgb(53, 16, 239);
    text-transform:uppercase;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(243, 219, 237);


}

.navbar-linknotactive {
    text-decoration: none;
    margin : -20px 15px;


}




