.navbar-maindesign {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(224, 218, 210);
    height: 4rem;
   




}

.navbar-right {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-right: 50px;
    padding : 5px;
    width: 40%;
    

   
    


}
.navbar-left {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-left : 10px;
    padding : 5px;
    width: 30%;
  

    



}
.navbar-link {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin : -20px 15px;
    color: rgb(53, 16, 239);
    text-transform:uppercase;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(243, 219, 237);


}

.navbar-linknotactive {
    text-decoration: none;
    margin : -20px 15px;


}




