span {
    color: red;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;




}

todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

}

li {
    border: 1px solid;
    width: 15rem;
    margin: 5px;
    background-color: bisque;
    padding: 10px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;

    

}